@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Shadows+Into+Light&display=swap");
*,
*::before,
*::after {
    box-sizing: border-box;
    line-height: 1.5em;
}


header{
    z-index: 1;
}
.navbar{
    z-index: 1;
}

:root{
    --font-family: "Open Sans" , sans-serif;
    --sidebar-width: 35%;
    --main-content-width:65%;

    --primary-hue: 270deg;
    --primary-saturation: 5.5555555556%;
    --primary-lightness: 7.0588235294%;

    --prime-color: hsl(
        var(--primary-hue),
        var(--primary-saturation),
        var(--primary-lightness)
    );
    --light-font-color: hsl(var(--primary-hue), var(--primary-saturation), 90%);
    --body-bg: hsl(var(--primary-hue), var(--primary-saturation), 97%);
    --font-color: hsl(var(--primary-hue), var(--primary-saturation), 13%);
}

 html{
    font-size: 16px;
    -webkit-text-size-adjust: 100%;
 }

 body{
    padding: 0;
    margin: 0;
    overflow-wrap: break-word;
    font-family: var(--font-family);
    color: var(--font-color);
    background-color: var(--background-color);
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
 }