@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Shadows+Into+Light&display=swap");
*,
*::before,
*::after {
    box-sizing: border-box;
    line-height: 1.5em;
}

:root {
    --font-family: "Open Sans", sans-serif;
    --sidebar-width: 35%;
    --main-content-width: 65%;

    --primary-hue: 270deg;
    --primary-saturation: 5.5555555556%;
    --primary-lightness: 7.0588235294%;

    --prime-color: hsl(
        var(--primary-hue),
        var(--primary-saturation),
        var(--primary-lightness)
    );
    --light-font-color: hsl(var(--primary-hue), var(--primary-saturation), 90%);
    --body-bg: hsl(var(--primary-hue), var(--primary-saturation), 97%);
    --font-color: hsl(var(--primary-hue), var(--primary-saturation), 13%);
}

html {
    font-size: 16px;
    -webkit-text-size-adjust: 100%;
}

body {
    padding: 0;
    margin: 0;
    overflow-wrap: break-word;
    font-family: var(--font-family);
    color: var(--font-color);
    background-color: var(--body-bg);
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

a {
    all: unset;
    cursor: pointer;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

aside {
    font-size: 0.938rem;
    width: var(--sidebar-width);
    height: 100vh;
    position: fixed;
    overflow: hidden auto;
    left: 0;
    top: 0;
    padding: 2rem 3rem;
    background-color: #dec2ba;
    color: var(--light-font-color);
    z-index: -1;
}

main {
    order: 1;
    width: var(--main-content-width);
    padding: 1rem;
}

.sidebar p.desc {
    margin-bottom: 40px;
}

.sidebar p {
   color: hsl(var(--primary-hue), var(--primary-saturation), 60%);
   margin-top: 0;
}

.sidebar h4 {
    margin-bottom: 0;
}

.sidebar h2 {
    margin-top: 7rem;
}

.sidebar p span {
    display: block;
    padding: 10px 0;
    color: var(--light-font-color);
}

.sidebar .item {
    position: relative;
    padding-left: 2.3rem;
}

.sidebar .icon {
    position: absolute;
    left: 0;
}

ul.social {
    all: unset;
    list-style: none;
    display: flex;
    justify-content: center;
    position: fixed;
    width: var(--sidebar-width);
    background-color: var(--prime-color);
    bottom: 0;
    left: 0;
    padding: 5px 0;
    gap: 10px;
}
ul.social svg {
    display: flex;
}
ul.social a {
    display: block;
    color: hsl(var(--primary-hue), var(--primary-saturation), 60%);
    background-color: 
rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 0;
    border-radius: 50%;
}
ul.social a:hover {
    color: 
white;
}

h1 {
    font-size: 2rem;
    margin: 0;
}

section a {
    font-weight: bold;
}

.contact-form-body form {
    display: flex;
    flex-flow: column wrap;
    max-width: 600px;
    padding: 0px;
    margin: 0 auto;
}
.contact-form-body form label {
    font-weight: bold;
    margin-top: 10px;
}
.contact-form-body form label:first-child {
    margin: 0;
}
.contact-form-body form textarea {
    resize: vertical;
    min-height: 15vh;
}
.contact-form-body form [type="submit"] {
    all: unset;
    margin-top: 10px;
    border-radius: 3px;
    background-color: var(--prime-color);
    color: var(--light-font-color);
    cursor: pointer;
    text-align: center;
    padding: 0.8rem;
}

.contact-form-body form :is(textarea, input) {
    padding: 0.5rem 0.7rem;
    font-family: var(--font-family);
    font-size: 1rem;
    border: 1px solid hsl(var(--primary-hue), var(--primary-saturation), 70%);
    border-radius: 3px;
    outline: none;
}

.contact-form-body
    form
    :is(textarea:hover, input:hover, textarea:focus, input:focus) {
    border-color: hsl(var(--primary-hue), var(--primary-saturation), 30%);
}

@media only screen and (max-width: 1100px) {
    :root {
        --sidebar-width: 40%;
        --main-content-width: 60%;
    }
}
@media only screen and (max-width: 900px) {
    :root {
        --sidebar-width: 45%;
        --main-content-width: 55%;
    }
}
@media only screen and (max-width: 750px) {
    :root {
        --sidebar-width: 100%;
        --main-content-width: 100%;
    }
    .container {
        flex-direction: column;
    }
    main {
        order: 0;
        display: contents;
    }
    aside {
        position: inherit;
        height: auto;
    }
    ul.social {
        position: inherit;
    }
    .contact-form-body form {
        max-width: 100%;
        padding: 0 0 1rem 0;
    }
    .sidebar h2 {
        margin-top: 2rem;
    }
    .contact-info p{
        display: inline;
    }
    ul.social svg {
        display: flex;
    }
    ul.social a {
        display: contents;
        color: hsl(var(--primary-hue), var(--primary-saturation), 60%);
        background-color: 
    rgba(0, 0, 0, 0.1);
        padding: 10px;
        margin: 0;
        border-radius: 50%;
    }
}


header {
    background-color: #ffffff;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -4px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    


}
header .wrapper {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

}
header .logo img {
    height: 100px;
    display: block;
}

/* START OF NAVBAR SECTION CSS */

.navbar {
    position: fixed;
    top: 0;
    left: 100%;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 20px;
    transition: left 0.3s;
}

.navbar.show {
    left: 0 !important;
}

.hide-scroll {
    overflow: hidden;
}

.navbar ul {
    all: unset;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}
.navbar ul a {
    all: unset;
    color: #444444;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
    font-size: 28px;
}
.navbar ul a:hover {
    color: #111111;
    text-decoration: underline overline;
    text-decoration-thickness: 3px;
}

.close-nav {
    text-align: right;
    margin-bottom: 20px;
}
.close-nav button {
    all: unset;
    background: #f7f7f7;
    font-size: 42px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 15px;
    border-radius: 3px;
    color: #444444;
}
.close-nav button:hover {
    color: #222222;
    background: white;
}

.menu-bar button {
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: #f7f7f7;
    height: 50px;
    width: 50px;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
}
.menu-bar i {
    display: block;
    border-top: 3px solid #444444;
    border-bottom: 3px solid #444444;
}
.menu-bar i::after {
    display: block;
    content: "";
    border-top: 3px solid #444444;
    margin: 6px 0;
}
.menu-bar button:hover {
    background: white;
}
.menu-bar button:hover i {
    border-color: #222222;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 30px;
}




