 html, body {
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    background-color: black;
    margin: 0!important;
    padding: 0!important;
    background-size: 100% 100%;
} 
      
      
.animate-charcter-comedy {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 190px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

 .define-comedy{
     margin: 0;
     padding: 0;
     background-image: linear-gradient(
        -225deg,
        #231557 0%,
        #44107a 29%,
        #ff1361 67%,
        #fff800 100%
    );
      background-size: auto auto;
      background-clip: border-box;
      background-size: 200% auto;
      color: #fff;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: textclip 2s linear infinite;
      display: inline-block;
          font-size: 25px;
    }
    
    .animate-charcter-shonen {
        margin: 0;
        padding: 0;
        text-transform: uppercase;
        background-image: linear-gradient(
        -225deg,
        #ff00cc 0%,
        #F6FF00 29%,
        #00F4FF 67%,
        #FF97AA 100%
      );
      background-size: auto auto;
      background-clip: border-box;
      background-size: 200% auto;
      color: #fff;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: textclip 2s linear infinite;
      display: inline-block;
          font-size: 190px;
    }
    
    @keyframes textclip {
      to {
        background-position: 200% center;
      }
    }


    .define-shonen{
        margin: 0;
        padding: 0;
        background-image: linear-gradient(
        -225deg,
        #ff00cc 0%,
        #F6FF00 29%,
        #00F4FF 67%,
        #FF97AA 100%
      );
      background-size: auto auto;
      background-clip: border-box;
      background-size: 200% auto;
      color: #fff;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: textclip 2s linear infinite;
      display: inline-block;
          font-size: 25px;
    }



    .animate-charcter-isekai {
        margin: 0;
        padding: 0;
        text-transform: uppercase;
        background-image: linear-gradient(
        -225deg,
        #ff00cc 0%,
        #F6FF00 29%,
        #00F4FF 67%,
        #FF97AA 100%
      );
      background-size: auto auto;
      background-clip: border-box;
      background-size: 200% auto;
      color: #fff;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: textclip 2s linear infinite;
      display: inline-block;
          font-size: 190px;
    }
    
    @keyframes textclip {
      to {
        background-position: 200% center;
      }
    }


    .define-isekai{
        margin: 0;
        padding: 0;
        background-image: linear-gradient(
        -225deg,
        #ff00cc 0%,
        #F6FF00 29%,
        #00F4FF 67%,
        #FF97AA 100%
      );
      background-size: auto auto;
      background-clip: border-box;
      background-size: 200% auto;
      color: #fff;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: textclip 2s linear infinite;
      display: inline-block;
          font-size: 25px;
    }

    .animate-charcter-home {
        margin: 0;
        padding: 0;
        text-transform: uppercase;
        background-image: linear-gradient(
        -225deg,
        #ff00cc 0%,
        #F6FF00 29%,
        #00F4FF 67%,
        #FF97AA 100%
      );
      background-size: auto auto;
      background-clip: border-box;
      background-size: 200% auto;
      color: #fff;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: textclip 2s linear infinite;
      display: inline-block;
          font-size: 190px;
    }
    
    @keyframes textclip {
      to {
        background-position: 200% center;
      }
    }


    .define-home{
        margin: 0;
        padding: 0;
        background-image: linear-gradient(
        -225deg,
        #ff00cc 0%,
        #F6FF00 29%,
        #00F4FF 67%,
        #FF97AA 100%
      );
      background-size: auto auto;
      background-clip: border-box;
      background-size: 200% auto;
      color: #fff;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: textclip 2s linear infinite;
      display: inline-block;
          font-size: 25px;
    }









    .flip-card {
      display: inline-block;
        background-color: transparent;
        width: 300px;
        height: 250px;
        border: 3px solid blue;;
        perspective: 1000px; /* Remove this if you don't want the 3D effect */
      }
      
      /* This container is needed to position the front and back side */
      .flip-card-inner {
        position: relative; 
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
      }
      
      /* Do an horizontal flip when you move the mouse over the flip box container */
      .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
      }
      
      /* Position the front and back side */
      .flip-card-front, .flip-card-back {
        position: absolute; 
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden; /* Safari */
        backface-visibility: hidden;
      }
      
      /* Style the front side (fallback if image is missing) */
      .flip-card-front {
        background-color: #bbb;
        color: black;
      }
      
      /* Style the back side */
      .flip-card-back {
        background-color: dodgerblue;
        color: white;
        transform: rotateY(180deg);
      }

      .goku .luffy .naruto .AOT{
        padding: 5px;
        float: left;
      }
